<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybaits.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boco.shanxi.mapper.PayMinutesMapper">
    <resultMap id="findPayMinutesMapper" type="boco.shanxi.domain.PayMinutes">
        <id property="id" column="id" />
        <result property="minute" column="minute" />
        <result property="payAmt" column="pay_amt" />
        <result property="payQuota" column="pay_quota" />
        <result property="paySucRate" column="pay_suc_rate" />
        <result property="createTime" column="create_time" />
        <association property="area" javaType="boco.shanxi.domain.Area">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="createTime" column="create_time" />
        </association>
    </resultMap>

    <insert id="addPayMinutes" parameterType="boco.shanxi.domain.PayMinutes">
        <selectKey keyProperty="id" resultType="integer" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into pay_minutes(area_id,minute,pay_amt,pay_quota,pay_suc_rate,create_time)
        values(#{area.id},#{minute},#{payAmt},#{payQuota},#{paySucRate},#{createTime})
    </insert>

    <sql id="findPayMinutes">
        select p.id,p.minute,p.pay_amt,p.pay_quota,p.pay_suc_rate,p.create_time,
        a.id,a.name,a.create_time
        from pay_minutes p,Area a
    </sql>
    <select id="selectPayMinutes" resultMap="findPayMinutesMapper" parameterType="integer">
        <include refid="findPayMinutes" />
        where p.area_id = #{areaId} and a.id = p.area_id
    </select>
</mapper>